<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Wonderland</string>
	<string>Revere Beach</string>
	<string>Beachmont</string>
	<string>Suffolk Downs</string>
	<string>Orient Heights</string>
	<string>Wood Island</string>
	<string>Airport</string>
	<string>Maverick</string>
	<string>Aquarium</string>
	<string>State Street</string>
	<string>Government Center</string>
	<string>Bowdoin</string>
</array>
</plist>
